

<form #addForm="ngForm" (submit)="addForm.form.valid && obtenirUrlRaccourcie(urlNouvelle)" novalidate>
  
  <div>
      <label for="url">Entrez un lien valide :</label> <br>
      <input type="url" id="urlOriginal" name="urlOriginal" size="35" [(ngModel)]="urlNouvelle" required  pattern="http://.*" placeholder="http://example.com">
  </div>

  <div>
    <button type="submit" id="btnGenererUrlRaccourcie" >Generer Url Raccourcie</button>
  </div>

  <div *ngIf="urlRaccourcie">
      <h2>{{urlRaccourcie}}</h2>
      <div>Vous pouvez mettre l'url ci-dessus sur le navegateur</div>
  </div>
  <br>

  <div *ngIf="!addForm.form.valid && addForm.submitted">
    <h2>L'url est invalid!</h2>
  </div>


  <div>
      <label for="url">Entrez un lien generé par le systeme :</label> <br>
      <input type="text" id="urlCle" name="urlCle" size="35" [(ngModel)]="urlCleGenere"  placeholder="http://example.com" (change)="nettoyerReponseUrlComplet()">
      
      <button type="button" id="btnObtenirUrl" (click)="obtenirUrlOriginal(urlCleGenere)"> Obtenir URL Original</button>

  </div>

  <div>
      <h2>{{urlOriginal}}</h2>
  </div>


  
</form>


